<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-nlpos" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>nlpos</name>
	<js-module name="nlpos" src="www/nlpos.js">
		<clobbers target="cordova.plugins.nlpos"/>
	</js-module>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="nlpos">
				<param name="android-package" value="com.openunion.cordova.plugins.nlpos.nlpos"/>
				<param name="onload" value="true" />
			</feature>
			
		</config-file>

		<config-file parent="/*" target="AndroidManifest.xml"/>

		<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.MANAGE_NEWLAND"/>
            <uses-permission android:name="android.permission.MANAGE_NEWLANDUART3"/>
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

		<framework src="src/android/nlpos.gradle" custom="true" type="gradleReference"/>
		
        <source-file src="libs/meSdk-3.2.0-SNAPSHOT.jar" target-dir="libs"/>
		<source-file src="libs/zxing-core-3.1.0.jar" target-dir="libs"/>
		<source-file src="libs/nlpos-res.aar" target-dir="libs"/>
		<source-file src="libs/armeabi/libemvjni.so" target-dir="libs/armeabi"/>
		<source-file src="libs/armeabi/libintelligentLib.so" target-dir="libs/armeabi"/>
		<source-file src="libs/armeabi/libndkapi.so" target-dir="libs/armeabi"/>
		<source-file src="libs/armeabi/libndkapism.so" target-dir="libs/armeabi"/>
		<source-file src="assets/aid_capk.app" target-dir="assets"/>
		<source-file src="src/android/nlpos.java" target-dir="src/com/openunion/cordova/plugins/nlpos"/>
		<source-file src="src/android/AbstractDevice.java" target-dir="src/com/openunion/cordova/plugins/nlpos"/>
		<source-file src="src/android/Const.java" target-dir="src/com/openunion/cordova/plugins/nlpos"/>
		<source-file src="src/android/N900Device.java" target-dir="src/com/openunion/cordova/plugins/nlpos"/>
		<source-file src="src/android/Constant.java" target-dir="src/com/openunion/cordova/plugins/nlpos"/>
		<source-file src="src/android/RFCardRead.java" target-dir="src/com/openunion/cordova/plugins/nlpos"/>
		<source-file src="src/android/SwipRead.java" target-dir="src/com/openunion/cordova/plugins/nlpos"/>
		<source-file src="src/android/Print.java" target-dir="src/com/openunion/cordova/plugins/nlpos"/>
		<source-file src="src/android/PrinterManager.java" target-dir="src/com/openunion/cordova/plugins/nlpos"/>
		<source-file src="src/android/Scan.java" target-dir="src/com/openunion/cordova/plugins/nlpos"/>
		<source-file src="src/android/ScanDecodeMode.java" target-dir="src/com/openunion/cordova/plugins/nlpos"/>
		<source-file src="src/android/ScanViewActivity.java" target-dir="src/com/openunion/cordova/plugins/nlpos"/>
		<source-file src="src/android/ViewfinderView.java" target-dir="src/com/openunion/cordova/plugins/nlpos"/>
		<source-file src="src/android/SoundPoolImpl.java" target-dir="src/com/openunion/cordova/plugins/nlpos"/>
	</platform>
</plugin>